<header class="navbar navbar-default" role="banner">
  <ul class="nav navbar-nav ">
    <li><%= link_to "Pessoas", root_path, :class => 'brand' %></li>
    <li><%= link_to "Tipos Animais", tipos_path, :class => 'brand' %></li>
    <li><%= link_to "Animais", animals_path, :class => 'brand' %></li>
  </ul>
</header>